.nav-items {
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 700;
  cursor: pointer;
}

.nav-items:hover {
  border-bottom: 2px solid #5f61ab;
  padding-bottom: 3px;
}

.nav-items-active {
  border-bottom: 2px solid #5f61ab;
  padding-bottom: 3px;
}

.blue-btn {
  background: #5f61ab !important;
  color: #ffffff !important;
}
.servicesLink {
  color: white;
  text-decoration: none;
}
.servicesLink:hover {
  color: white;
  text-decoration: underline solid;
}
@media screen and (max-width: 400px) {
  .link img {
    padding-left: 5rem;
  }
}
