.request-container {
    background-color: #5f61ab;
    min-width: 100%;
}

.mt-150 {
    margin-top: 150px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-150 {
    margin-bottom: 150px;
}

.request-container-heading1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
    color: white;
}

.request-container-heading2 {
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;
    color:white;
    margin-top: 20px;
}

.request-form {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}

.request-form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.label-text {
    font-size: 17px;
    margin-top: 30px;
}

input {
    width: 90%;
    height: 30px;
    border: none;
    background-color: #f1f1f1;
    margin-top: 5px;
    border-radius: 5px;
}

input:focus{
    outline: none;
}

textarea {
    width: 95%;
    border: none;
    background-color: #f1f1f1;
    height: 150px;
    border-radius: 5px;
    margin-top: 5px;
}

textarea:focus{
    outline: none;
}

.mt-30 {
    margin-top: 30px;
}

.error {
    color: red;
    font-size: 12px;
}

.transparent {
    color: transparent;
    width: 95% !important;
}

.dropzone-text {
    color: grey;
    font-size: 13px;
}